*

!.github/
!.github/workflows/

!assets/
!assets/macos/
!assets/nsis/
!assets/winres/

!src/
!src/discord/
!src/discord/find/

!.gitignore
!Cargo.lock

!*.icns
!*.ico
!*.json
!*.md
!*.nix
!*.nsi
!*.plist
!*.ps1
!*.rs
!*.sh
!*.toml
!*.yml
