*

!.github/
!.github/workflows/

!assets/
!assets/macos/
!assets/nsis/
!assets/winres/

!src/

!.gitignore
!Cargo.lock

!*.icns
!*.ico
!*.json
!*.md
!*.nsi
!*.plist
!*.ps1
!*.rs
!*.sh
!*.toml
!*.yml
